@media (min-width: 992px) {
  /*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

  /* reset CSS */
  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    width: 100%;
    color: #495057;
  }

  section .container {
    /* width: 1170px; */
    display: block;
    padding: 0px 50px;
  }

  /* -----------------------XAY DUNG PHAN BANNER--------------------- */
  /* thêm ảnh nền cho banner */
  #banner {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(../images/banner.jpg);
    background-size: cover;
    height: 320px;
    color: #fff;
    position: relative;
    min-width: 1200px;
    background-position: center;
  }
  /* căn chỉnh text về vị trí hợp lý */
  .banner-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
  }
  .banner-text span {
    color: #ced4da;
    text-transform: none;
  }

  /* --------------------------------XAY DUNG PHAN NAVBAR------------------------- */
  /* CSS cho navbar */
  /* can giua cac item */
  #nav-bar .container {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* dat chieu rong cho cac the link */
  .container a {
    width: 200px;
  }

  /* dat chieu rong cho phan ten */
  #nav-bar .container .name {
    text-transform: none;
    width: 256px;
  }

  /* thay doi mau sac, size cho .name */
  /* .name1 {
  font-size: 24px;
  color: #343a40;
}
.name2 {
  font-size: 12px;
  color: #868e96;
} */
  /* CSS anh dai dien */
  #nav-bar {
    position: relative;
    box-shadow: 0px 5px 15px 0px #cfd4d9;
    min-width: 1200px;
  }
  #nav-bar .anhdaidien {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 12px solid #fff;
    box-shadow: 0px 5px 15px 0px rgba(51, 155, 240, 0.2);
  }
  /* CSS cho link thuoc navbar */
  #nav-bar .container a:link,
  #nav-bar .container a:visited {
    color: #495057;
    text-decoration: none;
  }

  #nav-bar .container a:hover,
  #nav-bar .container a:active {
    color: #868e96;
  }

  /* dat mau cho icon */
  #nav-bar .container i {
    color: #339af0;
  }

  /* tao khung vien bao quanh nab-bar */
  .flex-item {
    border-right: 1px solid #ced4da;
    line-height: 56px;
  }

  #nav-bar .container a:first-child,
  #nav-bar .container a:nth-child(4) {
    border-left: 1px solid #ced4da;
  }

  /* ---------------------------XAY DUNG PHAN THONG TIN CA NHAN-------------------------------- */
  #about {
    display: flex;
    justify-content: center;
    padding: 48px 32px;
    min-width: 1200px;
  }
  #about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    /* justify-items: center; */
    /* align-items: center; */
    gap: 64px;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
  }

  #about .container h1 {
    padding-bottom: 24px;
    font-size: 30px;
  }
  #about .container #target {
    background-color: rgba(51, 155, 240, 0.05);
    padding: 16px 32px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 15px 0px rgba(51, 155, 240, 0.2);
  }

  #about .container #personal-info {
    background-color: rgba(51, 155, 240, 0.05);
    padding: 16px 32px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 15px 0px rgba(51, 155, 240, 0.2);
  }
  #about .container #personal-info li {
    padding: 5px;
  }

  #about .container #personal-info span {
    font-weight: bold;
  }

  #about .container #personal-info li i {
    display: inline-block;
    padding-right: 12px;
    padding-top: 24px;
    color: #339af0;
  }
  #about .container #personal-info i:hover,
  #about .container #personal-info i:active {
    transform: scale(1.2);
    color: #74c0fc;
  }

  .bg-grey {
    background: #f7f7f7;
  }

  /* -------------XAY DUNG PHAN THONG TIN NGHE NGHIEP--------------------------- */
  #job-info {
    display: flex;
    justify-content: center;
    line-height: 1.3;
    padding: 48px 32px;
  }

  #job-info .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 100px 100px 300px;
    min-width: 1200px;
    max-width: 80%;
    justify-content: center;
    gap: 16px;
  }

  .job-info-content {
    padding: 16px;
    border: 1px solid #74c0fc;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: start;
    row-gap: 24px;
  }

  #job-info .container i {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }

  .item3 {
    grid-column: 1/-1;
  }

  #job-info .container .exp {
    grid-row: 1/4;
  }
  #job-info .container .edu {
    grid-row: 1/3;
  }
  #job-info .container .act {
    grid-row: 1/2;
  }
  #job-info .container .hob {
    grid-row: 4/-1;
  }
  #job-info .container .lan {
    grid-row: 3/-1;
  }
  #job-info .container .ski {
    grid-row: 2/-1;
  }

  #job-info .container strong {
    display: inline-block;
    margin-bottom: 8px;
  }

  /* #job-info .container h1 {
  margin-bottom: 16px;
} */

  #job-info .container ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 16px;
    list-style: none;
  }
  .job-info-content .date {
    font-style: italic;
    padding: 6px 0px 4px 0px;
  }
  .job-info-content .exp-content em {
    background-color: #339af0;
    padding: 5px 10px;
    color: #f7f7f7;
    border-radius: 10px;
  }
  #job-info .container strong::before {
    content: "●";
    color: #339af0;
    font-weight: bold;
    font-size: 18px;
    margin-left: -1em;
    margin-right: 8px;
  }

  /* css phan so thich */
  .hob-item3 {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 32px;
    justify-items: center;
    text-align: center;
  }

  .hob-item3 i {
    color: #339af0;
    padding: 12px;
    width: 64px;
    height: 64px;
    border: 2px solid #339af0;
    border-radius: 50%;
  }

  /* css phan ngon ngu-ky nang */
  .lan .item3,
  .ski .item3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 20px;
  }

  .lan .item3 b,
  .ski .item3 b {
    grid-column: 1/-1;
  }

  .lan .item3 .OK,
  .ski .item3 .OK {
    background: #199cdb;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .lan .item3 .NG,
  .ski .item3 .NG {
    background-color: #cfd4d9;
    width: 100%;
    height: 4px;
    border: 1px solid #ced4da;
    border-radius: 2px;
  }

  /* ------------------XAY DUNG PHAN CHUNG CHI GIAI THUONG------------------- */
  #certificate {
    padding: 48px 32px;
    display: flex;
    justify-content: center;
  }

  #certificate .container {
    min-width: 1200px;
    width: 80%;
    max-width: 2000px;
  }
  #certificate .cir-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #d6c08d;
    align-content: center;
    justify-content: center;
    gap: 16px;
  }
  #certificate .cir-content div:first-child {
    border-right: 1px solid #d6c08d;
  }

  #certificate .cir-content .cer {
    display: flex;
    align-items: start;
    gap: 16px;
    padding: 16px;
  }

  #certificate .cir-content .cer .text {
    padding-top: 16px;
  }

  /* --------------------CSS DU AN------------------- */
  #project {
    padding: 48px 32px;
    display: flex;
    justify-content: center;
  }
  #project .container {
    min-width: 1200px;
    width: 80%;
    max-width: 2000px;
  }
  #project .pro-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 16px;
  }
  #project .pro-content .pro {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #868e96;
    border-left: 1px solid #868e96;
    border-right: 1px solid #868e96;
  }

  #project .pro-content .item2 {
    padding: 8px 16px;
    height: 64px;
    border-top: 1px solid #868e96;
    display: flex;
    align-items: center;
  }
  #project .pro-content .item3 {
    display: grid;
    height: 64px;
    border-top: 1px solid #868e96;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px 16px;
    align-items: center;
    justify-items: start;
  }

  #project .pro-content .item3 p:first-child {
    background-color: #339af0;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 16px;
  }
  #project .pro-content .item4 {
    flex: 1 1;
    border-bottom: 1px solid #868e96;
  }
  table {
    border-collapse: collapse;
  }

  td {
    border-top: 1px solid #868e96;
    padding: 8px 8px;
    vertical-align: top;
  }

  /* --------------CCS PHAN LIEN HE--------------------- */
  #footer .container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer .container ul {
    list-style: none;
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

  #footer .container li a {
    display: flex;
    align-items: center;
  }
  #footer .container li i {
    color: #339af0;
    font-size: 48px;
  }

  #footer .container li a:link,
  #footer .container li a:visited {
    text-decoration: none;
    color: #343a40;
  }

  #footer .container li a:hover,
  #footer .container li a:active {
    text-decoration: none;
    color: #868e96;
    transform: scale(1.1);
  }
}
